<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    <bean id="userDao" class="com.crazy.dao.impl.UserDaoImpl" scope="prototype" init-method="userDaoInit" destroy-method="userDaoDestory"></bean>
    <bean id="userDao" class="com.crazy.factory.StaticFactory" factory-method="getUserDao"></bean>
    -->
    <bean id="factory" class="com.crazy.factory.DynamicFactory"></bean>
    <bean id="userDao" factory-bean="factory" factory-method="getUserDao" ></bean>
<!--    <bean id="userService" class="com.crazy.service.impl.UserServiceImpl" p:userDao-ref="userDao"></bean>
-->
    <description>

    </description>
</beans>